---
// Copyright (c) Pascal Brand
// MIT License

import "lightgallery/css/lightgallery-bundle.css"

import type { AstroLightGalleryType } from '../index'

type Props = AstroLightGalleryType


const {
  options = {},     // https://www.lightgalleryjs.com/docs/settings/
  id = 'astro-lightgallery-' + Math.random().toString(36).slice(2, 11),
  ...props
} = Astro.props;


---

<astro-lightgallery
  id={id}
  {...props}
  data-options={JSON.stringify(options)}
  data-id={id}
  >
    <slot />
</div>


<script>
  import { createLightGallery } from '../index'
  import type { LightGallerySettings } from 'lightgallery/lg-settings';

  class AstroLightGallery extends HTMLElement {
    constructor() {
      super();

      // Read the message from the data attribute.
      const options: LightGallerySettings = JSON.parse(this.dataset.options || '{}')
      const id = this.dataset.id || ''

      createLightGallery(id, options)
    }
  }

  customElements.get('astro-lightgallery') || customElements.define('astro-lightgallery', AstroLightGallery);
</script>
